version: '3'

services:
    nodejs:
        build:
            context: ./backend/
            dockerfile: Dockerfile
        container_name: nodejs
        restart: always
        environment:
            - HOST=mongo
        networks:
            - mern-app  
        ports:
            - '3000:3000'
        depends_on: 
            - mongo
    mongo:
        container_name: mongo
        image: mongo
        ports:
            - '27017:27017'
        networks:
            - mern-app  
        volumes:
            - mongo-data:/data/db
    frontend:
        build:
            context: ./frontend/
            dockerfile: Dockerfile
        container_name: frontend
        restart: always
        ports:
            - '8080:8080'
        networks:
            - mern-app
networks:
  mern-app:
    driver: bridge
volumes:
  mongo-data:
    driver: local