.dict-list {
    max-width: 1024px;
    margin: auto;
}

.definition-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.definition-row__cell {
    padding: 15px 20px;
    background: antiquewhite;
    border-radius: 5px;
}